<div class="bg-white d-none" id="<%=task.id%>">
    <div class="header">
        <div class="task-header">
            <h3><%=task.name%></h3>
        </div>
        <%= render 'comments/new', task: task, comment: @comment, class: "toto" %>
        <div class="task-comment" id="<%task.id%>">
            <i class="fas fa-comment crs"></i>
        </div>
    </div>
    <div class="details-show">
        <p><%=task.description%></p>
        <p>Avant le <%=task.deadline.strftime("%d %b %Y")%></p>
        <p><%=task.priority%></p>
    </div>
    <div class="btn-1 p-a b-10 l-200 crs" id="<%=task.id%>" >
        Sortir
    </div>
    
</div>