<div class="bg-white d-none" id="<%=task.id%>">
    <h3><%=task.name%></h3>
    <p><%=task.description%></p>
    <p>Avant le <%=task.deadline%></p>
    <p><%=task.priority%></p>
    <div class="btn-1 p-a b-10 l-110 crs">Sortir</div>
</div>