<div class="bg-white d-none" id="<%=task.id%>">
    <div class="header">
        <div class="task-header">
            <h5><%=task.name%></h5>
        </div>
        <%= render 'comments/new', task: task, comment: @comment, class: "toto" %>
        <%if task.realized == false%>
            <div class="task-comment" id="<%task.id%>">
                <i class="fas fa-comment crs"></i>
            </div>
        <%end%>
    </div>
    <div class="details-show">
        <p><%=task.description%></p>
        <%if task.deadline != nil%>
            <p>Avant le <%=task.deadline.strftime("%d %b %Y")%></p>
        <%end%>
        <p class= "mb-0"><%=task.priority%></p>
    </div>
    <div class="comment-container">
        <%task.comments.each do |comment|%>
        <%=link_to task_comment_path(task,comment), method: :delete, remote: true do%>
            <div class="card-comment" data-tooltip="supprimer commentaire?">
                <%=comment.content%>
            </div>
            <%end%>
        <%end%>
    </div>
    <div class="btn-1 p-a b-10 l-200 crs" id="<%=task.id%>" >
        Sortir
    </div>
</div>