<div class="bg-white d-none" id="<%=task.id%>">
<div class="title">
    <h3><%=task.name%></h3>
</div>
<div class="details-show">
    <p><%=task.description%></p>
    <p>Avant le <%=task.deadline.strftime("%d %b %Y")%></p>
    <p><%=task.priority%></p>
</div>
    <div class="btn-1 p-a b-10 l-110 crs" id="<%=task.id%>" >Sortir</div>
</div>