<%=render "shared/navbar"%>
<div class="container-l" >
    <div class="container-s">
        <ul class="task-list" id="tasks">
            <%@tasks.each do |task|%>
                <li>
                    <div class ="card-task" data-controller="tasks" id= <%=task.id%>>
                        <%=task.id%>
                        <%=task.name%>
                        <%=task.priority%>
                        <%=task.deadline%>
                        <%=link_to "supprimer", task_path(task), method: :delete, remote: true, data: { target: "tasks.input", action: "ajax:beforeSend->tasks#delete" }%>
                    </div>
                    <%=render 'show', task: task, class: "toto " %>
                </li>
            <%end%>
        </ul>
    </div>

    <div class="container-s f f-c a-i-c white box-none " id="add-task">
        <div class="btn-1 crs" id="edit-task">
            Ajouter une nouvelle tâche
        </div>
      <%=render "tasks/new"%>
    </div>

    <div class="container-s">
         <ul class="task-list">
            <%@tasks.each do |task|%>
            <li>
                <div class ="card-task" data-controller="tasks"  data-id= <%task.id%>>
                    <%=task.name%>
                    <%=task.priority%>
                    <%=task.deadline%>
                    <%=link_to "supprimer", task_path(task), method: :delete, remote: true, data: { target: "tasks.input", action: "ajax:beforeSend->tasks#delete" }%>
                </div>
            </li>
            <%end%>
        </ul>
    </div>
</div>
<%=render "shared/footer"%>

  

