<%=render "shared/navbar"%>
<div class="container-l" >
    <div class="container-s">
        <%if @tasks_done != nil%>
            <ul class="task-list" id="tasks">
                <%@tasks_in_progress.each do |task|%>
                    <li>
                        <div class ="card-task" data-controller="tasks" id= <%=task.id%>>
                            <div class="details" id= <%=task.id%>>
                                <%=task.name%>
                                <%if task.priority == "Modéré" %>
                                    <i class="fas fa-leaf yellow"></i>
                                <% elsif task.priority == "Important" %>
                                    <i class="fas fa-leaf red"></i>
                                <% else %>
                                    <i class="fas fa-leaf"></i>
                                <%end%>
                                <%if task.deadline != nil%>
                                    <%=task.deadline.strftime("%a, %d %b")%>
                                <%end%>
                            </div>
                            <div class="action">
                                <%=link_to task_done_path(task), method: :patch, remote: true do%> 
                                    <i class="fas fa-check"></i>
                                    <%end%>
                                <%=link_to task_path(task), method: :delete, remote: true, data: { target: "tasks.input", action: "ajax:beforeSend->tasks#delete" } do%>
                                <%= fa_icon "trash"%>
                                <%end%>
                            </div>
                        </div>
                        <%=render 'show', task: task, class: "toto " %>
                    </li>
                <%end%>
            </ul>
        <%end%>
    </div>

    <div class="container-s f f-c a-i-c white box-none " id="add-task">
        <div class="btn-1 crs" id="edit-task">
            Ajouter une nouvelle tâche
        </div>
      <%=render "tasks/new"%>
    </div>

    <div class="container-s">
    <% if @tasks_done != nil%>
          <ul class="task-list" id="tasks">
            <%@tasks_done.each do |task|%>
                <li>
                    <div class ="card-task" data-controller="tasks" id= <%=task.id%>>
                        <div class="details" id= <%=task.id%>>
                            <%=task.name%>
                            <%if task.priority == "Important" %>
                                <i class="fas fa-leaf red"></i>
                            <% elsif task.priority == "Modéré" %>
                                <i class="fas fa-leaf yellow"></i>
                            <% else %>
                                <i class="fas fa-leaf"></i>
                            <%end%>
                            <%if task.deadline != nil%>
                                <%=task.deadline.strftime("%a, %d %b")%>
                            <%end%>
                        </div>
                        <div class="action">
                            <%=link_to task_path(task), method: :delete, remote: true, data: { target: "tasks.input", action: "ajax:beforeSend->tasks#delete" } do%>
                            <%=fa_icon "trash"%>
                            <%end%>
                        </div>
                    </div>
                    <%=render 'show', task: task, class: "toto " %>
                </li>
            <%end%>
        </ul>
        <%end%>
    </div>
</div>
<div class="container-bottom">
    <div class="in-progress fs-35">
        <i class="fas fa-business-time"></i>
    </div>
    <div class="in-progress">
    </div>
    <div class="in-progress fs-35">
        <i class="fas fa-clipboard-check"></i>
    </div>
</div>
<%=render "shared/footer"%>

  

