<%=render "shared/navbar"%>
<div class="container-l">
    <div class="container-s">
        <ul>
            <%@tasks.each do |task|%>
            <li><%=task.name%>
            <%=link_to "supprimer", task_path(task), method: :delete%></li>
            <%end%>
        </ul>
    </div>

    <div class="container-s f f-c a-i-c " id="add-task">
        <div class="btn-1 crs" id="edit-task">
            Ajouter une nouvelle tâche
        </div>
      <%=render "tasks/new"%>
    </div>

    <div class="container-s">
        <ul>
            <%@tasks.each do |task|%>
            <li><%=task.name%>
            <%=link_to "supprimer", task_path(task), method: :delete%></li>
            <%end%>
        </ul>
    </div>
</div>
<%=render "shared/footer"%>

  

